*.vscode/
**/node_modules
*/build/
**/.aws-sam
**.DS_Store

temp/
tmp/

# terraform
*.hcl
*.tfstate
*.terraform
*.backup
**/*.tfvars
**/prod.tfvars

#just for now
src/salesforce-authn/events
src/salesforce-authn/tests
sam.old/
samples/
temp/

sam-aws/**

**/set*Env.sh
**/out/*
**/authenticate*.sh
**/*.old/*
**/*.old
**/infra/config/*

sam-apps/api/events/bad-token-idp.json
sam-apps/api/routeHandlers/sf-proxy/
sam-apps/api/routeHandlers/student-python/
sam-apps/api/routeHandlers/student/cache_enabled_salesforce_proxy.js
sam-apps/api/samconfig.toml
sam-layers/config/
sam-layers/nodejs-common-deps/samconfig.toml
sam-layers/salesforce-proxy-python/
sam-layers/salesforce-proxy/
sam-layers/samconfig.toml
sam-layers/template.yml
util/infrastructure/auth0/
util/infrastructure/aws-dev/
util/infrastructure/aws/
