{
  "Parameters": {
    "CONFIG_S3_BUCKET": "sam-studentapp-preprod-configmanagerstac-s3bucket-1md11alfbdv8k",
    "CONFIG_MANAGER": "sam-studentapp-preprod-ConfigM-ConfigManagerLambda-FKUbjaFZv5pF",
    "TASK_DOCUMENT_STORAGE": "dev-upton-middlewareapistac-documentuploadstorage-1ewbqokg55m4o",
    "STUDENT_TASK_QUEUE_URL": "https://sqs.us-west-2.amazonaws.com/017937263664/dev-upton-MiddlewareApiStack-1AL24O3E8G3I-StudentTaskQueue-1OLR20SVXVNEZ"
  }
}